In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
suzan = pd.read_csv(r'C:\Users\Suzan\Desktop\sem 3\datasets\data\dirty_data.csv')

In [42]:
suzan.head(20)

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
9,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN
10,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN
11,2018-01-05T00:00:00,GHCND:USC00280907,14.2,127.0,inf,-4.4,-13.9,-13.9,NaN,True
12,2018-01-06T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-10.0,-15.6,-15.0,NaN,False
13,2018-01-07T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-11.7,-17.2,-16.1,NaN,False
14,2018-01-07T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
15,2018-01-08T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
16,2018-01-08T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-7.8,-16.7,-8.3,NaN,False
17,2018-01-10T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
18,2018-01-10T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,5.0,-7.8,-7.8,NaN,False
19,2018-01-11T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,4.4,-7.8,1.1,NaN,False

In [43]:
suzan.dtypes

date                  object
station               object
PRCP                 float64
SNOW                 float64
SNWD                 float64
TMAX                 float64
TMIN                 float64
TOBS                 float64
WESF                 float64
inclement_weather     object
dtype: object

In [44]:
suzan.isnull

<bound method DataFrame.isnull of                     date            station  PRCP  SNOW  SNWD    TMAX  TMIN  \
0    2018-01-01T00:00:00                  ?   0.0   0.0  -inf  5505.0 -40.0
1    2018-01-01T00:00:00                  ?   0.0   0.0  -inf  5505.0 -40.0
2    2018-01-01T00:00:00                  ?   0.0   0.0  -inf  5505.0 -40.0
3    2018-01-02T00:00:00  GHCND:USC00280907   0.0   0.0  -inf    -8.3 -16.1
4    2018-01-03T00:00:00  GHCND:USC00280907   0.0   0.0  -inf    -4.4 -13.9
..                   ...                ...   ...   ...   ...     ...   ...
760  2018-12-31T00:00:00  GHCND:USC00280907   0.0   0.0  -inf     3.3  -3.3
761  2018-12-31T00:00:00  GHCND:USC00280907   0.0   0.0  -inf     3.3  -3.3
762  2018-12-31T00:00:00  GHCND:USC00280907   0.0   0.0  -inf     3.3  -3.3
763  2018-12-31T00:00:00                  ?   0.0   0.0  -inf  5505.0 -40.0
764  2018-12-31T00:00:00                  ?   0.0   0.0  -inf  5505.0 -40.0

     TOBS  WESF inclement_weather
0     NaN   NaN               NaN
1     NaN   NaN               NaN
2     NaN   NaN               NaN
3   -12.2   NaN             False
4   -13.3   NaN             False
..    ...   ...               ...
760  -2.8   NaN             False
761  -2.8   NaN             False
762  -2.8   NaN             False
763   NaN   NaN               NaN
764   NaN   NaN               NaN

[765 rows x 10 columns]>

In [45]:
suzan.isnull()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,True,True,True
2,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...
760,False,False,False,False,False,False,False,False,True,False
761,False,False,False,False,False,False,False,False,True,False
762,False,False,False,False,False,False,False,False,True,False
763,False,False,False,False,False,False,False,True,True,True
764,False,False,False,False,False,False,False,True,True,True

In [46]:
suzan.isnull().sum

<bound method DataFrame.sum of       date  station   PRCP   SNOW   SNWD   TMAX   TMIN   TOBS  WESF  \
0    False    False  False  False  False  False  False   True  True
1    False    False  False  False  False  False  False   True  True
2    False    False  False  False  False  False  False   True  True
3    False    False  False  False  False  False  False  False  True
4    False    False  False  False  False  False  False  False  True
..     ...      ...    ...    ...    ...    ...    ...    ...   ...
760  False    False  False  False  False  False  False  False  True
761  False    False  False  False  False  False  False  False  True
762  False    False  False  False  False  False  False  False  True
763  False    False  False  False  False  False  False   True  True
764  False    False  False  False  False  False  False   True  True

     inclement_weather
0                 True
1                 True
2                 True
3                False
4                False
..                 ...
760              False
761              False
762              False
763               True
764               True

[765 rows x 10 columns]>

In [47]:
suzan.isnull().sum()

date                   0
station                0
PRCP                   0
SNOW                 188
SNWD                 188
TMAX                   0
TMIN                   0
TOBS                 367
WESF                 754
inclement_weather    357
dtype: int64

In [48]:
suzan.drop(columns=['station'],inplace=True)

In [61]:
suzan.head()

,date,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [64]:

suzan[['SNOW','PRCP']] = suzan[['SNOW', 'PRCP']].fillna(suzan[['SNOW', 'PRCP']].mean())

In [65]:
suzan.head(10)

,date,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,0.0,0.000000,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,0.0,0.000000,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,0.0,0.000000,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,0.0,0.000000,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,0.0,0.000000,-inf,-4.4,-13.9,-13.3,NaN,False
5,2018-01-03T00:00:00,0.0,0.000000,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,0.0,0.000000,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,20.6,229.000000,inf,5505.0,-40.0,NaN,19.3,True
8,2018-01-04T00:00:00,20.6,229.000000,inf,5505.0,-40.0,NaN,19.3,True
9,2018-01-05T00:00:00,0.3,4.202773,NaN,5505.0,-40.0,NaN,NaN,NaN